.select .main {
    border: 1px solid black;
    display: inline-block; /*ведет себя как блок, но сам строчный*/
    min-height: 20px; /*минимальная высота*/
    min-width: 40px; /*минимальная ширина*/
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid red;
}

.item.selected {
   background-color: powderblue;
    color: white;
}

